<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of the user</title>
</head>
<body>
    <ul>
        <% jaankari.forEach((user, index) => { %>
            <h1>Student - <%= index + 1 %></h1>
            <li>Email: <%= user.mail %></li>
            <li>Name: <%= user.Name %></li>
            <li>Phone: <%= user.number %></li>
            <li>Gender: <%= user.gender %></li>
            <li>About: <%= user.about %></li>
            <hr>
        <% }) %>
    </ul>
</body>
</html>